@import url(https://db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular+Regular);
.sevencontent .content .leftblock button, .thirdcontent .cards .card button, header .firstcontent .buttons button:nth-child(1) {
  background-color: #4452FE;
  width: 178px;
  height: 65px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.fifthcontent button, .fourthcontent button, header .firstcontent .buttons button:nth-child(2), header .navbar button {
  width: 139px;
  height: 52px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 17px;
  color: white;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-weight: 500;
  margin-right: 30px;
}

body {
  margin: 0;
  font-family: "Graphik Web Regular Regular", sans-serif;
  color: white;
  background-color: #181818;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 1520px;
  width: 1343px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .navbar {
  width: 1097px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
header .navbar img {
  margin-left: 45px;
}
header .navbar .innernav {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
header .firstcontent {
  width: 1339px;
  height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .firstcontent p:nth-child(1) {
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: 0.2px;
  text-align: center;
  width: 709px;
  margin: 40px 0;
}
header .firstcontent p:nth-child(2) {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  width: 600px;
}
header .firstcontent .buttons {
  margin-top: 100px;
  width: 420px;
  height: 65px;
  display: flex;
  justify-content: space-between;
}
header .firstcontent .buttons button:nth-child(2) {
  width: 174px;
  height: 65px;
}
header .firstcontent .screens {
  margin-top: 100px;
  width: 1339px;
  height: 780px;
  display: block;
  z-index: 1;
}
header .firstcontent .screens img:nth-child(1) {
  position: relative;
  width: 466.53px;
  height: 429.98px;
  top: 1px;
  left: 7px;
  transform: rotateX(37.29deg);
  rotate: -1deg;
  margin-top: 150px;
  margin-left: 165px;
}
header .firstcontent .screens img:nth-child(2) {
  width: 466.53px;
  height: 451.48px;
  transform: rotateX(37.29deg);
}
header .firstcontent .screens img:nth-child(3) {
  position: absolute;
  left: 401px;
  top: 708px;
  width: 465.82px;
  height: 429.98px;
  transform: rotateX(37.29deg);
  rotate: -1deg;
}
header .firstcontent .screens .gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
  position: relative;
  bottom: 355px;
  width: 1339px;
  height: 551px;
  z-index: 1;
}

.secondcontent {
  margin-top: 70px;
  width: 1339px;
  height: 1112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secondcontent p:nth-child(1) {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin: 30px 0;
}
.secondcontent p:nth-child(2) {
  width: 600px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin: 0;
}
.secondcontent .innerchild {
  width: 80%;
  height: 70%;
  margin-top: 100px;
  display: flex;
}
.secondcontent .innerchild .leftblock {
  width: 65%;
  height: 100%;
  display: flex;
}
.secondcontent .innerchild .leftblock img:nth-child(1) {
  width: 696px;
  height: 659px;
  box-shadow: 0 4 31 0 rgba(0, 0, 0, 0.1490196078);
}
.secondcontent .innerchild .leftblock img:nth-child(2) {
  position: relative;
  width: 400px;
  height: 276px;
  right: 395px;
  top: 435px;
  box-shadow: 0 4 31 0 rgba(0, 0, 0, 0.1490196078);
}
.secondcontent .innerchild .rightblock {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondcontent .innerchild .rightblock .textblock {
  margin-left: 30px;
  margin-bottom: 20px;
  width: 269px;
  height: 196px;
}
.secondcontent .innerchild .rightblock .textblock .header {
  width: 204.49px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.secondcontent .innerchild .rightblock .textblock .header img {
  margin-top: 5px;
}
.secondcontent .innerchild .rightblock .textblock .header p {
  text-align: left;
  margin-left: 10px;
}
.secondcontent .innerchild .rightblock .textblock .footer {
  width: 265px;
  height: 110px;
}
.secondcontent .innerchild .rightblock .textblock .footer p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0;
}

.thirdcontent {
  margin-top: 150px;
  width: 1339px;
  height: 930.52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thirdcontent p:nth-child(1) {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 20px;
}
.thirdcontent p:nth-child(2) {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0;
  width: 600px;
}
.thirdcontent .cards {
  width: 985px;
  height: 680px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.thirdcontent .cards .card {
  background-color: white;
  width: 476px;
  height: 680px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thirdcontent .cards .card p {
  color: black;
}
.thirdcontent .cards .card p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-top: 50px;
}
.thirdcontent .cards .card p:nth-child(2) {
  width: 340px;
  margin-top: 20px;
  color: #5C5C5C;
}
.thirdcontent .cards .card .sign {
  width: 157px;
  height: 52px;
  margin-top: 100px;
}
.thirdcontent .cards .card .free {
  width: 190px;
  height: 52px;
  margin-top: 70px;
}
.thirdcontent .cards .card .macbook {
  width: 405.13px;
  height: 226.52px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thirdcontent .cards .card .macbook img {
  width: 312.33px;
  height: 195.18px;
  border: 6px solid black;
  outline: 2px solid #9FA2A5;
  box-shadow: 0 4 37;
  border-radius: 4.5px 4.5px 0 0;
}
.thirdcontent .cards .card .macbook .base {
  width: 405.13px;
  height: 8.37px;
  background-color: #D8D8D8;
  display: flex;
  justify-content: center;
}
.thirdcontent .cards .card .macbook .base .grip {
  width: 54.16px;
  height: 5.02px;
  background-color: #9FA2A5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.thirdcontent .cards .card .macbook .basebottom {
  width: 405.13px;
  height: 4.72px;
  background-color: #9FA2A5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fourthcontent {
  margin-top: 150px;
  width: 1339px;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourthcontent p:nth-child(1) {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin: 20px 0;
}
.fourthcontent p:nth-child(2) {
  width: 571px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.fourthcontent img {
  border-radius: 10px;
}
.fourthcontent .cards:nth-child(3) {
  width: 999px;
  height: 285px;
  display: flex;
  justify-content: space-between;
}
.fourthcontent .cards:nth-child(3) img {
  width: 225px;
  height: 285px;
}
.fourthcontent .cards:nth-child(4) {
  margin-top: 40px;
  width: 1090px;
  height: 285px;
  display: flex;
  justify-content: space-between;
}
.fourthcontent button {
  margin-top: 60px;
  width: 159px;
  height: 52px;
}

.fifthcontent {
  margin-top: 140px;
  width: 1339px;
  height: 484.55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifthcontent p:nth-child(1) {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin: 40px 0;
}
.fifthcontent p:nth-child(2) {
  margin: 0;
  width: 600px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
}
.fifthcontent .brands {
  margin-top: 80px;
  width: 831px;
  height: 70.55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifthcontent .brands img {
  width: 60px;
  height: 60px;
}
.fifthcontent .brands img:nth-child(6) {
  width: 149.85px;
  height: 59.94px;
}
.fifthcontent button {
  margin-top: 40px;
  width: 176px;
}

.sixcontent {
  margin-top: 100px;
  width: 1339px;
  height: 884px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sixcontent p {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
}
.sixcontent .content {
  width: 883px;
  height: 652px;
  display: flex;
  margin-top: 40px;
}
.sixcontent .content .testimonial-items {
  width: 50%;
  height: 100%;
}
.sixcontent .content .testimonial-items .card {
  border: 1px solid white;
  border-radius: 10px;
  width: 430px;
  height: 304px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sixcontent .content .testimonial-items .card .client {
  width: 200px;
  height: 50px;
  margin-left: 30px;
  display: flex;
}
.sixcontent .content .testimonial-items .card .client .name {
  height: 50px;
}
.sixcontent .content .testimonial-items .card .client .name p {
  margin: 0 20px;
}
.sixcontent .content .testimonial-items .card .client .name p:nth-child(2) {
  position: relative;
  bottom: 145px;
}
.sixcontent .content .testimonial-items .card p {
  width: 320px;
  height: 168px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-left: 30px;
}
.sixcontent .content .testimonial-items:nth-child(1) .card:nth-child(1) {
  height: 328px;
}

.sevencontent {
  border: 2px solid white;
  width: 1339px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sevencontent .content {
  width: 1100px;
  height: 370px;
  border-radius: 33px;
  background-color: #343434;
  box-shadow: 0 4 31 0 rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.sevencontent .content .leftblock {
  width: 544px;
  height: 247px;
}
.sevencontent .content .leftblock p {
  width: 479px;
  height: 124px;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin-left: 70px;
}
.sevencontent .content .leftblock button {
  position: relative;
  width: 232px;
  height: 52px;
  bottom: 35px;
  left: 70px;
}
.sevencontent .content img {
  margin-top: 10px;
}
/*# sourceMappingURL=site/main.css.map */
