@import url(https://db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular+Regular);

%purple_button {
    background-color: #4452FE;
    width: 178px;
    height: 65px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;

}

%black_button {
    width: 139px;
    height: 52px;
    background-color: #00000026;
    border: 1px solid white;
    font-size: 17px;
    color: white;
    line-height: 25px;
    letter-spacing: 0.2px;
    font-weight: 500;
    margin-right: 30px;
}


body {
    margin: 0;
    font-family: 'Graphik Web Regular Regular', sans-serif;
    color: white;
    background-color: #181818;
}

button {
    border: 0;
}

a {
    text-decoration: none;
    color: white;
}

// Хэдер

header {
    height: 1520px;
    width: 1343px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar {
        width: 1097px;
        height: 119px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;

        img {
            margin-left: 45px;
        }

        .innernav {
            width: 400px;
            display: flex;
            justify-content: space-around;
        }

        button {
            @extend %black_button;
        }
    }

// Первый контент-блок
    .firstcontent {
        width: 1339px;
        height: 525px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p:nth-child(1) {
            font-size: 80px;
            font-weight: 500;
            line-height: 88px;
            letter-spacing: 0.2px;
            text-align: center;
            width: 709px;
            margin: 40px 0;
        }
    
        p:nth-child(2) {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
            text-align: center;
            width: 600px;
        }

        .buttons {
            margin-top: 100px;
            width: 420px;
            height: 65px;
            display: flex;
            justify-content: space-between;

            button:nth-child(1) {
                @extend %purple_button;
            }
            button:nth-child(2) {
                @extend %black_button;
                width: 174px;
                height: 65px;
            }
        }

        .screens {
            margin-top: 100px;
            width: 1339px;
            height: 780px;
            display: block;
            z-index: 1;

            img:nth-child(1) {
                position: relative;
                width: 466.53px;
                height: 429.98px;
                top: 1px;
                left: 7px;
                transform: rotateX(37.29deg);
                rotate: -1deg;
                margin-top: 150px;
                margin-left: 165px;
                
            }
            img:nth-child(2) {
                width: 466.53px;
                height: 451.48px;
                transform: rotateX(37.29deg);
            }
            img:nth-child(3) {
                position: absolute;
                left: 401px;
                top: 708px;
                width: 465.82px;
                height: 429.98px;
                transform: rotateX(37.29deg);
                rotate: -1deg;
            }

            .gradient {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
                position: relative;
                bottom: 355px;
                width: 1339px;
                height: 551px;
                z-index: 1;
            }
        }
    }
}

// Второй блок-контент
.secondcontent {
    border: 2px solid white;
    margin-top: 70px;
    width: 1339px;
    height: 1112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p:nth-child(1) {
        font-size: 52px;
        line-height: 62px;
        letter-spacing: 0.2px;
        margin: 30px 0;
    }

    p:nth-child(2) {
        width: 600px;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        margin: 0;
    }

    .innerchild {
        width: 80%;
        height: 70%;
        margin-top: 100px;
        display: flex;

        .leftblock {
            width: 65%;
            height: 100%;
            display: flex;

            img:nth-child(1) {
                width: 696px;
                height: 659px;
                box-shadow: 0 4 31 0 #00000026;
            }

            img:nth-child(2) {
                position: relative;
                width: 400px;
                height: 276px;
                right: 395px;
                top: 435px;
                box-shadow: 0 4 31 0 #00000026;
            }
        }

        .rightblock {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .textblock {
                margin-left: 30px;
                margin-bottom: 20px;
                width: 269px;
                height: 196px;

                .header {
                    width: 204.49px;
                    height: 80px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    img {
                        margin-top: 5px;
                    }

                    p {
                        text-align: left;
                        margin-left: 10px;
                    }
                }
                
                .footer {
                    width: 265px;
                    height: 110px;

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        margin: 0;
                    }
                }
            }
        }
    }

}



